.bg-color{
    background: rgb(77,70,176);
    background: linear-gradient(90deg, rgba(77,70,176,1) 0%, rgba(36,120,118,1) 43%, rgba(0,212,255,1) 100%);
    color: #ffffff;

}
h1{
    font-size: 5em;
}