
<div class="container">
    <mat-toolbar class="bg-color py-5">
        <mat-toolbar-row>
            <h1>HN Feed</h1>
        </mat-toolbar-row>
    
        <mat-toolbar-row>
            <p class="ml-2">We ❤️ hacker news</p>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-list-info></app-list-info>
</div>