<h1 mat-dialog-title>Confirmar</h1>
<div mat-dialog-content>
  <p>Desea eliminar la noticia?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Gracias</button>
  <button mat-button (click)="onYesClick(data)" cdkFocusInitial>Si</button>
</div>