
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="lstHackerNews">

    
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element" ><a target="_blank" [href]="element.url"class="title"> {{element.story_title}}</a> </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element" ><a target="_blank" [href]="element.url" class="author"> {{element.author}}</a>  </td>
    </ng-container>


    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Date  </th>
      <td mat-cell *matCellDef="let element" ><a target="_blank" [href]="element.url"class="title"> {{element.created_at | date:'fullDate'}}</a> </td>
    </ng-container>

 
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" (click)="eliminarElemento(element)"> <mat-icon matListIcon>delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>