table {
    width: 100%;
  }
.title{
    color: #333 !important;
    font-size: 13px;
}

.author{
    color: #999;
}

.mat-row:hover {
    background-color: #fafafa;
    cursor: pointer;
  }

  td a {
    width: 100%;
    display: block;
  }